body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1520338258525-606b90f95b04?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;
}

.appContainer
{
  width: 500px;
  height: fit-content;
  padding: 0 20px;
}

.card
{
  border: 1px solid black !important
}

.conatiner-card-header
{
  
  height: 100px;
  font-size: 24px; 
  padding: 10px 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskCompleted
{
  text-decoration: line-through;
}

.btn-trash
{
  background: transparent;
  outline: none;
  border: none;
}

